pandas==3.0.1
numpy==2.2.6
torch==2.10.0
rdkit==2025.9.6
scipy==1.13.1
bokeh==3.8.2
numba==0.64.0
astropy==7.2.0
matplotlib==3.10.8
pyyaml==6.0.3
astrochem_embedding==0.2.0
group-selfies @ git+https://github.com/aspuru-guzik-group/group-selfies.git